@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>
        I am a third year student in New Bulgarian University with major in Information technologies and a second speciallization in
        Web Design and Graphic Advertisement. I enjoy both subjects and love to gain knowledge in both spheres.
    </p>
</main>