
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";



}


<body class="gallery-page">
    <div class="gallery-container">

        <div class="left-gallery">
            <div class="gallery-item">
                <img src="/Content/Images/barcalogo.jpg" alt="barcalogo">
            </div>
            <div class="gallery-item">
                <img src="/Content/Images/messi.jpg" alt="messi " >
            </div>
            <div class="gallery-item">
                <img src="/Content/Images/messi-psg.png" alt="messi-psg" >
            </div>
            <div class="gallery-item">
                <img src="/Content/Images/messi_miami.jpg" alt="messi-miami">
            </div>
        </div>


        <div class="right-gallery">
            <div class="gallery-item">
                <img src="/Content/Images/messi-2005.jpg" alt="messi2005">
            </div>
            <div class="gallery-item">
                <img src="/Content/Images/messi-blonde.jpg" alt="messi-blonde" >
            </div>
            <div class="gallery-item">
                <img src="/Content/Images/messineymar.jpg" alt="messineymar" >
            </div>
            <div class="gallery-item">
                <img src="/Content/Images/intermiami-logo.jpg" alt="intermiami" >
            </div>
        </div>
    </div>
</body>

